body {
    background-color: #133144;
}
html textarea {
    display: block;
    background-color: #133144;
    width: auto;
    padding: 5px;
    resize: none;
    color: #fff;
    overflow: hidden;
}
